// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #C64F15;
$secondary : #505050;
$accent    : #164C81;

$dark      : #1f3045;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

@import '~quasar-variables-styl';
